# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# VS Code specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Local development settings
.env
.env.local

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/
weaviate_data/
# Jupyter Notebook
.ipynb_checkpoints
*.bloom
# PyInstaller
*.manifest
*.spec
*.db
*.flag
*.state
*.hierarchy
# mypy
.mypy_cache/
data/

.DS_Store
# pytest
.pytest_cache/

*.env

*.pt
*.tex
*.pdf
models/
*/data

*.venv

*__pycache__